.npcCard {
    margin-top: 5px;
    outline: 3px solid black;
    border-radius: 35px;
    background-color: #e0b889;
}

/* Label for the name of the npc */
.nameBox {
    background-color: rgb(239, 209, 142);
    box-shadow: 3px 3px grey;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin: 30px 10vw;
}

/* labels for the tables */
.infoLabel {
    font-size: x-large;
    font-weight: bolder;
    color: white;
    padding: 10px;
}

@media (min-width: 610px) {
    .npcTableContainer {
        width: 85%;
        margin: 0 auto;
    }
}

/* container for systems */
.systemContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 0px;
    margin: 0 auto 20px auto;
    border-radius: 15px;
    width: 90%;
}

/* smartphone */
@media (max-width: 860px) {
    .systemContainer {
        grid-template-columns: 1fr;
    }
}