.npcLabelContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px auto 20px auto;
}


@media (min-width: 860px) {
    .npcLabelContainer {
        width: 50%;
    }
}

.npcLabel {
    padding: 10px 20px;
    margin: 5px 3px;
    background-color: grey;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.npcChosen {
    background-color: rgb(218, 72, 72);
    color: white;
}